---
import Layout from '../layouts/Layout.astro';
import {getSession} from 'auth-astro/server';
import InfoUserSection from "../components/InfoUserSection.astro";
import LoginSection from "../components/LoginSection.astro";

const session = await getSession(Astro.request)
---

<Layout title="Log in to All Login">
    <main class="min-h-dvh flex flex-col items-center justify-center gap-6">
        <h1 class="font-bold text-3xl w-80 text-center">Log in to All Login</h1>
      {
        (session && session.user) ?
            <InfoUserSection image={session.user.image} name={session.user.name}/> :
            <LoginSection/>
      }

    </main>
</Layout>
