---
import Layout from '../layouts/Layout.astro';
import {GeneralOptions} from "@/components/general-options.tsx";
import {CardList} from "@/components/card-list.tsx";
import {TaskInput} from "@/components/task-input.tsx";
---

<Layout title="Welcome to Astro.">
    <main class="w-full lg:w-3/4 m-auto p-5 flex flex-col gap-5">
        <section>
            <TaskInput client:idle/>
        </section>
        <section class="flex flex-col gap-5">
            <header>
                <GeneralOptions client:idle/>
            </header>
            <main class="grid grid-cols-[repeat(auto-fit,_minmax(300px,_1fr))] gap-2">
                <CardList client:idle/>
            </main>
        </section>
    </main>
</Layout>
