---
import Layout from "@/layouts/Layout.astro";
import { GeneralOptions } from "@/components/general-options.tsx";
import { CardList } from "@/components/card-list.tsx";
import { TaskStats } from "@/components/task-stats.tsx";
---

<Layout title="Jira Task Generator">
  <main class="m-auto flex w-full flex-col gap-5 p-5 lg:w-3/4">
    <section class="w-full">
      <GeneralOptions client:idle />
    </section>
    <section class="w-full">
      <TaskStats client:idle />
    </section>
    <section class="grid grid-cols-[repeat(auto-fill,minmax(260px,1fr))] gap-4">
      <CardList client:idle />
    </section>
  </main>
</Layout>
