---
import Layout from '../layouts/Layout.astro'
import InitialTest from '@/components/initial-test.astro'
---

<Layout title="Pon a prueba tu velocidad con el teclado">
	<main class="pt-20 p-4">
		<h1 class="max-w-[1120px] mx-auto text-6xl font-bold text-balance text-center">
			Pon a prueba tu <span class="text-violet-600">velocidad</span> con el <span class="text-violet-600">teclado</span></h1>
		<InitialTest />
	</main>
</Layout>



