---
import LayoutDashboard from "../../layouts/LayoutDashboard.astro";
---

<LayoutDashboard title="Aqui puedes gestionar tus Bookmarks">
    <h1 class="text-4xl font-bold text-center">Aquí puedes gstionar tus Bookmarks</h1>
    <form id="form-save-bookmark">
        <label>
            Introduce aquí la url
            <input class="bg-gray-400 text-white" type="url" name="url" value="https://www.wikipedia.org/"/>
        </label>
        <button>Enviar</button>
    </form>
</LayoutDashboard>
<script>
  const form = document.querySelector('#form-save-bookmark') as HTMLFormElement;
  form.addEventListener("submit", async (event) => {
    event.preventDefault();
    console.log(event)

    const formData = new FormData(event.target as HTMLFormElement);
    console.log({url: formData.get('url')})

    await fetch('/api/bookmark', {
      method: 'POST',
      headers: {
        'Content-Type': 'application/json'
      },
      body: JSON.stringify({url: formData.get('url')})
    })

  });
</script>
