---
import {SignOut} from "auth-astro/components";
interface Props {
  image: string | null | undefined
  name: string | null | undefined
}

const {image = '', name = ''} = Astro.props
---

<section class="w-80 shadow-2xl p-2 flex flex-col items-center gap-2">
    <img class="rounded-full w-20" src={image} alt=`Avatar de ${name}`/>
    <p>{name}</p>
    <SignOut class="w-full m-auto rounded bg-red-600 p-1">Log out</SignOut>
</section>
