---
interface Props {
  id: string
  text: string
}

const { id, text } = Astro.props
---

<div class="flex flex-col items-center">
  <p id={id} class="rounded-xl bg-white text-4xl py-6 px-8 shadow shadow-black/10">0</p>
  <p class="font-extralight">{text}</p>
</div>
